[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
urllib3 = "==1.26.6"
openai = "*"
google-search-results = "*"
tweepy = "*"

[dev-packages]

[requires]
python_version = "3.9"
